<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Macy's Hispanic Heritage Month for 2015">
    <meta name="author" content="Melissa M. Dailey">
    <title>Macy's Hispanic Heritage Month for 2015</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    
    <!-- Underscore -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
</head>
<body class="clearfix">
    <div class="overlay"></div>
    
    <!--Left Container-->
    <div class="col-md-5 col-xs-12 container-fluid left">
        <div class="row">
            <div class="col-md-10 headline">
                <h3>Macy's Celebrates</h3>
                <h1>Hispanic Heritage Month</h1>
                <p class="master-info">Macy's celebrates Hispanic Heritage Month. Keep updated on Macys.com and join our awesome in-store style and fashion events and celebrity speakers.</p>
            </div>
        </div>
        <div class="circles no-gutter">
            <div class="top">
                <div class="first circle left-circle"></div>
                <div class="second circle"></div>
            </div>
            <div class="bottom">
                <div class="third circle left-circle"></div>
                <div class="fourth circle"></div>
            </div>
        </div>
    </div>

    <!-- END Left Container -->
    

    <!-- Right Container-->
    <div class="col-md-7 col-xs-12 container-fluid right" id="events-placeholder"></div>


        <!-- event template -->
        <script type="text/template" id="event-template">
          <div class="event row no-gutter">
            <div class="col-md-12 info">
                <div class="col-md-4">
                    <p class="day"><%=mon%> <%= day %> </p>
                </div>

                <div class="col-md-8 short-info">
                     <p><%= storename %> <br>in <%= city %>, <%= state %> at <%= time %>   
                    
                    <a class="show-panel more" data-id=<%=entry_id%> href="#_">   learn more...</a>
                    </p>
                </div>



                <div class="lightbox-panel" id="lightbox-panel-<%=entry_id%>">
                    <p align="right"><a class="close-panel" href="#_">X</a></p>
                    <div>
                        <h2><%= storename %></h2>
                        <h3><%= month %> <%= day %> at <%= time %></h3>
                        <h4><%= street %>, <%= floor %>, <%= city %>, <%= state %></h4>
                        <br>
                        <h4><%= description %></h4>
                    </div>
                    <h2 class="rsvp" align="center"><a href="<%= r %>"><%= res %></a><h2>
                    <div class="col-md-10 col-xs-6" align="left" id="prev"><a href="#_"><<</a></div>
                    <div class="col-md-2 col-xs-6" align="right" id="next"><a href="#_">>></a></div>
                </div>
             
            </div>
          </div>
        </script>
        <!-- END Right Container -->
</body>
</html>

